@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
[x-cloak] {
    display: none !important;
}

/* Personalizza SweetAlert con i colori del brand */
.swal2-popup {
    font-family: inherit;
}
.swal2-confirm {
    background: linear-gradient(to right, #7B2869, #E91E8C) !important;
}
